@import url(components/navBar.css);
@import url(components/fonts.css);
@import url(components/footer.css);

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

header{
	position: relative;
}

header nav{
	position: absolute;
	left: 0;
	z-index: 99;
}

header:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 20vh;
	width: 100%;
	background-color: var(--irisPurple);
	clip-path: polygon(0 0, 0 57%, 15% 80%, 65% 55%, 100% 100%, 100% 0, 0 0);
	z-index: 90;
}

#accueil{
	padding: 40vh 0;
}