
@import url(components/navBar.css);
@import url(components/footer.css);
@import url(components/fonts.css);
@import url(components/colors.css);
@import url(components/animations.css);

html{
	scroll-behavior: smooth;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	width: 100vw;
	overflow-x: hidden;
}

/*Pour cacher la barre de scroll tout en gardant la fonctionnalité de scroll sur chrome, safari et opera*/
body::-webkit-scrollbar{
	width: 0px;
	background: transparent;

}

header{
	position: relative;
}

header nav{
	z-index: 99;
}

header:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	height: 20vh;
	width: 100%;
	background-color: var(--irisPurple);
	clip-path: polygon(0 0, 0 57%, 15% 80%, 65% 55%, 100% 100%, 100% 0, 0 0);
	z-index: 90;
}

.dark .val{
	color:var(--irisYellow);
}

.ident{
	color:black;
}

.dark h3{
	color:white;
}

.a2{
	color:white;
}

#equipe{
	width:100%; 
	max-width: 400pt; 
	border-radius: 32px;
}

.card{
	height: 100%;
	border-color: var(--irisPurple) !important;
}
.dark .card{
	border-color: var(--irisYellow) !important;
}

/*Identité*/

.idDoc{
	text-decoration: none;
}

.btnPurp{
	border-radius:12px;
	max-width:220px;
	width: 100%;
	height:7vh;
	padding:12px 24px;
}

.btnPurp:hover{
	background-color:var(--irisBlue);
}


/* Au survol, le mot grossit */
#valeurs>.hilight:hover {
    font-size: 1.2em; /* Taille de police agrandie */
	cursor: default;
}

.card-img-top{
    transition: transform 0.3s ease; /* Transition pour un effet de zoom fluide */
}

.card-img-top:hover{
	transform: scale(1.1);
}

#cgraphique>img, #ceditoriale>img {
    transition: transform 0.3s ease; /* Transition pour un effet de zoom fluide */
}

#cgraphique>img:hover, #ceditoriale>img:hover{
	transform: scale(1.1);
}

#equipeimg{
    transition: transform 0.3s ease; /* Transition pour un effet de zoom fluide */
	width:100%;
	max-width:400pt;
	border-radius:10px;
}

#equipeimg:hover{
	transform: scale(1.1);
}

#personaimg{
    transition: transform 0.3s ease; /* Transition pour un effet de zoom fluide */
}

#personaimg:hover{
	transform: scale(1.1);
}

/*====== A PROPOS DES SVG ======*/
#equipeh2{
	top: 0;
	left: 0;
	width: inherit;
}

#equipeFond{
	max-width: 85%;
	max-height: 91%;
}

#equipeSection{
	overflow: hidden;
}

#equipeSection:has(img.equipeItem:hover) img.equipeItem:not(:hover){
	filter: blur(1px) brightness(0.8);
}

#equipeSection:has(img.equipeItem:hover) img#equipeFond{
	filter: blur(0.5px);
}

/*=== Seraph Item ===*/

#seraphItem{
	top: 25.8%;
	left: 11.7%;
	max-width: 20%;
	z-index: 80;
}

#seraphItem:hover{
	scale: 1.1;
	top: 27.8%;
}

#seraphAside{
	display: none;
	position: absolute;
	top: 27%;
	left: 0;
	height: 70%;
	max-width: 25%;
	border: 5px solid var(--irisYellow);
	border-radius: 5px;
	border-left: none;
}

#seraphItem:hover + #seraphAside{
	display: block;
	left: 31%;
	background-color: rgba(100%, 100%, 100%, .5);
	backdrop-filter: blur(10px);
	animation: .7s ease-in moveInSeraph;
	transition: ease-in .5s;
	z-index: 79;
}

/*=== Raph Item ===*/
#raphItem{
	top: 33%;
	left: 29.2%;
	max-width: 18.1%;
	z-index: 78;
}

#raphItem:hover{
	scale: 1.1;
	top: 35%;
	z-index: 80;
}

#raphAside{
	display: none;
	position: absolute;
	top: 27%;
	left: 0;
	height: 70%;
	max-width: 25%;
	border: 5px solid var(--irisYellow);
	border-radius: 5px;
	border-left: none;
}

#raphItem:hover + #raphAside{
	display: block;
	left: 46%;
	background-color: rgba(100%, 100%, 100%, .5);
	backdrop-filter: blur(10px);
	animation: .7s ease-in moveInRaph;
	transition: ease-in .5s;
	z-index: 79;
}

/*=== Rahnya Item ===*/
#rahnyaItem{
	top: 37%;
	left: 43.5%;
	max-width: 17%;
	z-index: 76;
}

#rahnyaItem:hover{
	scale: 1.1;
	top: 38%;
	z-index: 80;
}

#rahnyaAside{
	display: none;
	position: absolute;
	top: 27%;
	left: 0;
	height: 70%;
	max-width: 25%;
	border: 5px solid var(--irisYellow);
	border-radius: 5px;
	border-left: none;
}

#rahnyaItem:hover + #rahnyaAside{
	display: block;
	left: 60%;
	background-color: rgba(100%, 100%, 100%, .5);
	backdrop-filter: blur(10px);
	animation: .6s ease-in moveInRahnya;
	transition: ease-in .5s;
	z-index: 79;
}

/*=== Rahnya Item ===*/
#ameItem{
	top: 44%;
	left: 58.3%;
	max-width: 17%;
	z-index: 74;
}

#ameItem:hover{
	scale: 1.1;
	top: 45%;
	z-index: 80;
}

#ameAside{
	display: none;
	position: absolute;
	top: 27%;
	left: 0;
	height: 70%;
	max-width: 25%;
	border: 5px solid var(--irisYellow);
	border-radius: 5px;
	border-right: none;
}

#ameItem:hover + #ameAside{
	display: block;
	left: 32%;
	background-color: rgba(100%, 100%, 100%, .5);
	backdrop-filter: blur(10px);
	animation: .6s ease-in moveInAme;
	transition: ease-in .5s;
	z-index: 79;
}

/*=== Rahnya Item ===*/
#yoannItem{
	top: 30.1%;
	left: 71.8%;
	max-width: 18%;
	z-index: 72;
}

#yoannItem:hover{
	scale: 1.1;
	top: 31.8%;
	z-index: 80;
}

#yoannAside{
	display: none;
	position: absolute;
	top: 27%;
	left: 0;
	height: 70%;
	max-width: 25%;
	border: 5px solid var(--irisYellow);
	border-radius: 5px;
	border-right: none;
}

#yoannItem:hover + #yoannAside{
	display: block;
	left: 47%;
	background-color: rgba(100%, 100%, 100%, .5);
	backdrop-filter: blur(10px);
	animation: .7s ease-in moveInYoann;
	transition: ease-in .5s;
	z-index: 79;
}

#equipetxt{
	bottom: 0;
	left: 0;
	width: inherit;
}