@import url(CSS/components/navBar.css);
@import url(CSS/components/footer.css);
@import url(CSS/components/fonts.css);



body {
    font-family: Poppins, sans-serif;
}

header {
    position: relative;
}

header nav {
    z-index: 99;
}

header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100%;
    background-color: var(--irisPurple);
    clip-path: polygon(0 0, 0 57%, 15% 80%, 65% 55%, 100% 100%, 100% 0, 0 0);
    z-index: 90;
}

.case{
    border-radius:10px;
	background-color: var(--irisBlue);
	height:6vh;
	width:100%;
	color:white;
}



#Inscrire{
    background-color:var(--irisPurple);
	color:white;
	border-radius:10px;
	width:200px;
	height:7vh;
}

#Inscrire:hover{
    background-color:var(--irisBlue);
}

#compte{
    transition: transform 0.3 ease;
}

#compte:hover{
    transform:scale(1.1);
}