@import url(components/navBar.css);
@import url(components/footer.css);
@import url(components/fonts.css);

#btnNav{
	color: white;
}

.navbar {
    background-color: var(--irisPurple);
}

body {
    font-family: Poppins, sans-serif;
}

header {
    position: relative;
}

header nav {
    z-index: 99;
}

header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 20vh;
    width: 100%;
    background-color: var(--irisPurple);
    clip-path: polygon(0 0, 0 57%, 15% 80%, 65% 55%, 100% 100%, 100% 0, 0 0);
    z-index: 90;
}

main {
    padding: 15vh 0 0 0;
}

/* Styles spécifiques au contenu */
main {
    padding: 15vh 0 0 0;
}

hgroup {
    height: auto; /* Ajustement de la hauteur automatique */
    margin-bottom: 30px; /* Espacement entre le texte et le formulaire */
    margin-top: 30px; /* Espacement entre l'image de l'oeil et le formulaire'*/ 
}

.center {
    display: block; /* Permet de centrer l'image */
    margin: auto;
}

.contenu {
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    text-align: center; /* Centrage du contenu */
    margin-bottom: 30px; /* Espacement vertical */
    padding-bottom: 10vh;
}

.contenu form {
    display: inline-block;
    text-align: left; /* Alignement du texte à gauche dans le formulaire */
}
.w-100 {
    max-width: 400px;
}
.contenu label {
    margin-bottom: 6px; /* Espacement de 6 pixels entre le titre et la case */
    display: block;
}

.contenu input[type="text"],
.contenu input[type="email"],
.contenu input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
    background-color: #8e9ed1;
    width: 257px; /* Largeur de la case */
}

.contenu input[type="submit"] {
    border: none;
    border-radius: 5px; /*Arrondis les angles de 5*/
    background-color: #5C57A1;
    color: #ffffff;
    cursor: pointer;
    padding: 5px 8px;
}

.contenu input[type="submit"]:hover {
    background-color: #8e9ed1;
}


#loginLink {
    margin-top: 20px; /* Espacement depuis le bouton S'inscrire */
    font-style: italic; /* Texte en italique */
}

#loginLink :hover {
    text-decoration: none; /* Supprimer le soulignement */
    background-color: #5C57A1;
}

#inscrire { /* Bouton s'inscrire*/
    display: block; /* Affichage en bloc pour centrer */
    margin: 15px auto; /* Centrage horizontal */
}


