
:root{
	--irisPurple: #5C57A1;
	--irisYellow: #FFDE42;
	--irisBlue: #8C9ED1;
	--blackTheme: #3D3D3D;
	--gestionBg: #F5F9FF;
}

/*Commandes persos*/

.btnPurp{
	background-color: var(--irisPurple);
}

.hilight{
	color: var(--irisPurple);
}

