:root{
    --irisPurple: #5C57A1;
    --irisYellow: #ffdf43;
    --irisBlue: #8C9ED1;
    --blackTheme: #3D3D3D;
    --gestionBg: #F5F9FF;
}



.btnPurp, .btnPurp a {
    color:var(--gestionBg);
    background-color: var(--irisPurple);
    text-decoration: none;
}
.dark .btnPurp, .dark .btnPurp a{
    background-color: var(--irisYellow);
    color: var(--blackTheme)
}

.btnPurp:hover, .btnPurp a:hover{
    background-color:var(--irisBlue);
}
.dark .btnPurp:hover, .dark .btnPurp a:hover{
    background-color:#ffd504;
}


.case{
    background-color: var(--irisBlue);
    color:white;
}
.case2{
    background-color: var(--irisBlue);
    color:white;
}
.dark .case{
    background-color: white;
    color :var(--blackTheme);
}
.dark .case2{
    background-color: white;
    color :var(--blackTheme);
}



.hilight{
    color: var(--irisPurple);
}

.dark .hilight{
    color: var(--irisYellow)
}